In [1]:
from profesor import Profesor
from estudiante import Estudiante

# Estudiante(nombre, apellido, correo, contraseña, ciclo, carrera, universidad, codigo)
# Profesor(nombre, apellido, correo, contraseña, profesion, centro_laboral)
# Curso(nombre, descripcion, Profesor)
# Horario(Curso, dia, hora_inicio, hora_fin)
# Calificacion(Estudiante, Profesor, puntuacion)

In [2]:
estudiante1 = Estudiante('Juan', 'Perez', 'a@a', '123', '1', 'Ing. de Sistemas', 'ULIMA', '001')
estudiante2 = Estudiante('Maria', 'Gomez', 'c@c', '789', '2', 'Ing. de Sistemas', 'ULIMA', '002')
estudiante3 = Estudiante('Pedro', 'Torres', 'b@b', '456', '3', 'Ing. de Sistemas', 'ULIMA', '003')
estudiante4 = Estudiante('Ana', 'Lopez', 'd@d', '101', '4', 'Ing. de Sistemas', 'ULIMA', '004')
estudiante5 = Estudiante('Luis', 'Garcia', 'e@e', '202', '5', 'Ing. de Sistemas', 'ULIMA', '005')

print(str(estudiante1)+'\n'+str(estudiante2)+'\n'+str(estudiante3)+'\n'+str(estudiante4)+'\n'+str(estudiante5))
print('---------------------------------')
print(str(estudiante1.obtener_datos())+'\n'+str(estudiante2.obtener_datos())+'\n'+str(estudiante3.obtener_datos())+'\n'+str(estudiante4.obtener_datos())+'\n'+str(estudiante5.obtener_datos()))

Estudiante(Juan, Perez, a@a, 123, 1, Ing. de Sistemas, ULIMA, 001, [])
Estudiante(Maria, Gomez, c@c, 789, 2, Ing. de Sistemas, ULIMA, 002, [])
Estudiante(Pedro, Torres, b@b, 456, 3, Ing. de Sistemas, ULIMA, 003, [])
Estudiante(Ana, Lopez, d@d, 101, 4, Ing. de Sistemas, ULIMA, 004, [])
Estudiante(Luis, Garcia, e@e, 202, 5, Ing. de Sistemas, ULIMA, 005, [])
---------------------------------
{'nombre': 'Juan', 'apellidos': 'Perez', 'correo': 'a@a', 'ciclo': '1', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '001', 'cursos': []}
{'nombre': 'Maria', 'apellidos': 'Gomez', 'correo': 'c@c', 'ciclo': '2', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '002', 'cursos': []}
{'nombre': 'Pedro', 'apellidos': 'Torres', 'correo': 'b@b', 'ciclo': '3', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '003', 'cursos': []}
{'nombre': 'Ana', 'apellidos': 'Lopez', 'correo': 'd@d', 'ciclo': '4', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '004', 'cursos': []}
{'nombre': 'Luis', 'apellidos': 'Garcia', 'correo': 'e@e', 'ciclo': '5', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '005', 'cursos': []}

In [3]:
profesor1 = Profesor('Carlos', 'Gomez', 'f@f', '123', 'Ing. de Sistemas', 'ULIMA')
profesor2 = Profesor('Luis', 'Torres', 'g@g', '456', 'Ing. de Sistemas', 'ULIMA')
profesor3 = Profesor('Ana', 'Lopez', 'h@h', '789', 'Ing. de Sistemas', 'ULIMA')
print(str(profesor1)+'\n'+str(profesor2)+'\n'+str(profesor3))
print('---------------------------------')
print(str(profesor1.obtener_datos())+'\n'+str(profesor2.obtener_datos())+'\n'+str(profesor3.obtener_datos()))

Profesor(Carlos, Gomez, f@f, 123, Ing. de Sistemas, ULIMA), [], 0
Profesor(Luis, Torres, g@g, 456, Ing. de Sistemas, ULIMA), [], 0
Profesor(Ana, Lopez, h@h, 789, Ing. de Sistemas, ULIMA), [], 0
---------------------------------
{'nombre': 'Carlos', 'apellidos': 'Gomez', 'correo': 'f@f', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}
{'nombre': 'Luis', 'apellidos': 'Torres', 'correo': 'g@g', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}
{'nombre': 'Ana', 'apellidos': 'Lopez', 'correo': 'h@h', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}

In [4]:
curso1 = profesor1.crear_curso('Curso 1', 'Descripcion 1')
curso2 = profesor1.crear_curso('Curso 2', 'Descripcion 2')
curso3 = profesor2.crear_curso('Curso 3', 'Descripcion 3')
curso4 = profesor2.crear_curso('Curso 4', 'Descripcion 4')
curso5 = profesor3.crear_curso('Curso 5', 'Descripcion 5')
curso6 = profesor3.crear_curso('Curso 6', 'Descripcion 6')
print('---------------------------------')
print(str(curso1)+'\n'+str(curso2)+'\n'+str(curso3)+'\n'+str(curso4)+'\n'+str(curso5)+'\n'+str(curso6))
print('---------------------------------')
print(str(curso1.obtener_datos())+'\n'+str(curso2.obtener_datos())+'\n'+str(curso3.obtener_datos())+'\n'+str(curso4.obtener_datos())+'\n'+str(curso5.obtener_datos())+'\n'+str(curso6.obtener_datos()))

Curso Curso 1 creado con exito.
Curso Curso 2 creado con exito.
Curso Curso 3 creado con exito.
Curso Curso 4 creado con exito.
Curso Curso 5 creado con exito.
Curso Curso 6 creado con exito.
---------------------------------
Curso(Curso 1, Descripcion 1, Carlos Gomez, [], [])
Curso(Curso 2, Descripcion 2, Carlos Gomez, [], [])
Curso(Curso 3, Descripcion 3, Luis Torres, [], [])
Curso(Curso 4, Descripcion 4, Luis Torres, [], [])
Curso(Curso 5, Descripcion 5, Ana Lopez, [], [])
Curso(Curso 6, Descripcion 6, Ana Lopez, [], [])
---------------------------------
{'nombre': 'Curso 1', 'descripcion': 'Descripcion 1', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 2', 'descripcion': 'Descripcion 2', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 3', 'descripcion': 'Descripcion 3', 'profesor': 'Luis Torres', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 4', 'descripcion': 'Descripcion 4', 'profesor': 'Luis Torres', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 5', 'descripcion': 'Descripcion 5', 'profesor': 'Ana Lopez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 6', 'descripcion': 'Descripcion 6', 'profesor': 'Ana Lopez', 'estudiantes': [], 'horarios': []}

In [5]:
estudiante1.matricular_curso(curso1)
estudiante1.matricular_curso(curso2)
estudiante1.matricular_curso(curso3)
estudiante1.matricular_curso(curso4)
estudiante1.matricular_curso(curso5)
estudiante1.matricular_curso(curso6)
print('---------------------------------')
estudiante2.matricular_curso(curso1)
estudiante2.matricular_curso(curso2)
estudiante2.matricular_curso(curso3)
estudiante2.matricular_curso(curso4)
estudiante2.matricular_curso(curso5)
estudiante2.matricular_curso(curso6)
print('---------------------------------')
estudiante3.matricular_curso(curso1)
estudiante3.matricular_curso(curso2)
estudiante3.matricular_curso(curso3)
estudiante3.matricular_curso(curso4)
estudiante3.matricular_curso(curso5)
estudiante3.matricular_curso(curso6)
print('---------------------------------')
estudiante4.matricular_curso(curso1)
estudiante4.matricular_curso(curso2)
estudiante4.matricular_curso(curso3)
estudiante4.matricular_curso(curso4)
estudiante4.matricular_curso(curso5)
estudiante4.matricular_curso(curso6)
print('---------------------------------')
estudiante5.matricular_curso(curso1)
estudiante5.matricular_curso(curso2)
estudiante5.matricular_curso(curso3)
estudiante5.matricular_curso(curso4)
estudiante5.matricular_curso(curso5)
estudiante5.matricular_curso(curso6)

Estudiante Juan matriculado al curso "Curso 1" con exito.
Estudiante Juan matriculado al curso "Curso 2" con exito.
Estudiante Juan matriculado al curso "Curso 3" con exito.
Estudiante Juan matriculado al curso "Curso 4" con exito.
Estudiante Juan matriculado al curso "Curso 5" con exito.
Estudiante Juan matriculado al curso "Curso 6" con exito.
---------------------------------
Estudiante Maria matriculado al curso "Curso 1" con exito.
Estudiante Maria matriculado al curso "Curso 2" con exito.
Estudiante Maria matriculado al curso "Curso 3" con exito.
Estudiante Maria matriculado al curso "Curso 4" con exito.
Estudiante Maria matriculado al curso "Curso 5" con exito.
Estudiante Maria matriculado al curso "Curso 6" con exito.
---------------------------------
Estudiante Pedro matriculado al curso "Curso 1" con exito.
Estudiante Pedro matriculado al curso "Curso 2" con exito.
Estudiante Pedro matriculado al curso "Curso 3" con exito.
Estudiante Pedro matriculado al curso "Curso 4" con exito.
Estudiante Pedro matriculado al curso "Curso 5" con exito.
Estudiante Pedro matriculado al curso "Curso 6" con exito.
---------------------------------
Estudiante Ana matriculado al curso "Curso 1" con exito.
Estudiante Ana matriculado al curso "Curso 2" con exito.
Estudiante Ana matriculado al curso "Curso 3" con exito.
Estudiante Ana matriculado al curso "Curso 4" con exito.
Estudiante Ana matriculado al curso "Curso 5" con exito.
Estudiante Ana matriculado al curso "Curso 6" con exito.
---------------------------------
Estudiante Luis matriculado al curso "Curso 1" con exito.
Estudiante Luis matriculado al curso "Curso 2" con exito.
Estudiante Luis matriculado al curso "Curso 3" con exito.
Estudiante Luis matriculado al curso "Curso 4" con exito.
Estudiante Luis matriculado al curso "Curso 5" con exito.
Estudiante Luis matriculado al curso "Curso 6" con exito.

In [6]:
print(str(estudiante1)+'\n'+str(estudiante2)+'\n'+str(estudiante3)+'\n'+str(estudiante4)+'\n'+str(estudiante5))
print('---------------------------------')
print(str(estudiante1.obtener_datos())+'\n'+str(estudiante2.obtener_datos())+'\n'+str(estudiante3.obtener_datos())+'\n'+str(estudiante4.obtener_datos())+'\n'+str(estudiante5.obtener_datos()))
print('---------------------------------')
print(str(curso1)+'\n'+str(curso2)+'\n'+str(curso3)+'\n'+str(curso4)+'\n'+str(curso5)+'\n'+str(curso6))
print('---------------------------------')
print(str(curso1.obtener_datos())+'\n'+str(curso2.obtener_datos())+'\n'+str(curso3.obtener_datos())+'\n'+str(curso4.obtener_datos())+'\n'+str(curso5.obtener_datos())+'\n'+str(curso6.obtener_datos()))
print('---------------------------------')
print(str(curso1.obtener_estudiantes())+'\n'+str(curso2.obtener_estudiantes())+'\n'+str(curso3.obtener_estudiantes())+'\n'+str(curso4.obtener_estudiantes())+'\n'+str(curso5.obtener_estudiantes())+'\n'+str(curso6.obtener_estudiantes()))
print('---------------------------------')
print(str(curso1.obtener_profesor())+'\n'+str(curso2.obtener_profesor())+'\n'+str(curso3.obtener_profesor())+'\n'+str(curso4.obtener_profesor())+'\n'+str(curso5.obtener_profesor())+'\n'+str(curso6.obtener_profesor()))

Estudiante(Juan, Perez, a@a, 123, 1, Ing. de Sistemas, ULIMA, 001, ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6'])
Estudiante(Maria, Gomez, c@c, 789, 2, Ing. de Sistemas, ULIMA, 002, ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6'])
Estudiante(Pedro, Torres, b@b, 456, 3, Ing. de Sistemas, ULIMA, 003, ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6'])
Estudiante(Ana, Lopez, d@d, 101, 4, Ing. de Sistemas, ULIMA, 004, ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6'])
Estudiante(Luis, Garcia, e@e, 202, 5, Ing. de Sistemas, ULIMA, 005, ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6'])
---------------------------------
{'nombre': 'Juan', 'apellidos': 'Perez', 'correo': 'a@a', 'ciclo': '1', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '001', 'cursos': ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']}
{'nombre': 'Maria', 'apellidos': 'Gomez', 'correo': 'c@c', 'ciclo': '2', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '002', 'cursos': ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']}
{'nombre': 'Pedro', 'apellidos': 'Torres', 'correo': 'b@b', 'ciclo': '3', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '003', 'cursos': ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']}
{'nombre': 'Ana', 'apellidos': 'Lopez', 'correo': 'd@d', 'ciclo': '4', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '004', 'cursos': ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']}
{'nombre': 'Luis', 'apellidos': 'Garcia', 'correo': 'e@e', 'ciclo': '5', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '005', 'cursos': ['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']}
---------------------------------
Curso(Curso 1, Descripcion 1, Carlos Gomez, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
Curso(Curso 2, Descripcion 2, Carlos Gomez, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
Curso(Curso 3, Descripcion 3, Luis Torres, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
Curso(Curso 4, Descripcion 4, Luis Torres, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
Curso(Curso 5, Descripcion 5, Ana Lopez, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
Curso(Curso 6, Descripcion 6, Ana Lopez, ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], [])
---------------------------------
{'nombre': 'Curso 1', 'descripcion': 'Descripcion 1', 'profesor': 'Carlos Gomez', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
{'nombre': 'Curso 2', 'descripcion': 'Descripcion 2', 'profesor': 'Carlos Gomez', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
{'nombre': 'Curso 3', 'descripcion': 'Descripcion 3', 'profesor': 'Luis Torres', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
{'nombre': 'Curso 4', 'descripcion': 'Descripcion 4', 'profesor': 'Luis Torres', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
{'nombre': 'Curso 5', 'descripcion': 'Descripcion 5', 'profesor': 'Ana Lopez', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
{'nombre': 'Curso 6', 'descripcion': 'Descripcion 6', 'profesor': 'Ana Lopez', 'estudiantes': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'], 'horarios': []}
---------------------------------
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
['Juan', 'Maria', 'Pedro', 'Ana', 'Luis']
---------------------------------
Carlos Gomez
Carlos Gomez
Luis Torres
Luis Torres
Ana Lopez
Ana Lopez

In [7]:
print(estudiante1.obtener_cursos())
print(estudiante2.obtener_cursos()) 
print(estudiante3.obtener_cursos())
print(estudiante4.obtener_cursos())
print(estudiante5.obtener_cursos())
print('---------------------------------')
print(profesor1.obtener_cursos())
print(profesor2.obtener_cursos())
print(profesor3.obtener_cursos())

['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']
['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']
['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']
['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']
['Curso 1', 'Curso 2', 'Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']
---------------------------------
['Curso 1', 'Curso 2']
['Curso 3', 'Curso 4']
['Curso 5', 'Curso 6']

In [8]:
print(profesor1.ver_estudiantes())
print(profesor2.ver_estudiantes())
print(profesor3.ver_estudiantes())

['Juan(Curso 1)', 'Maria(Curso 1)', 'Pedro(Curso 1)', 'Ana(Curso 1)', 'Luis(Curso 1)', 'Juan(Curso 2)', 'Maria(Curso 2)', 'Pedro(Curso 2)', 'Ana(Curso 2)', 'Luis(Curso 2)']
['Juan(Curso 3)', 'Maria(Curso 3)', 'Pedro(Curso 3)', 'Ana(Curso 3)', 'Luis(Curso 3)', 'Juan(Curso 4)', 'Maria(Curso 4)', 'Pedro(Curso 4)', 'Ana(Curso 4)', 'Luis(Curso 4)']
['Juan(Curso 5)', 'Maria(Curso 5)', 'Pedro(Curso 5)', 'Ana(Curso 5)', 'Luis(Curso 5)', 'Juan(Curso 6)', 'Maria(Curso 6)', 'Pedro(Curso 6)', 'Ana(Curso 6)', 'Luis(Curso 6)']

In [9]:
horario1 = profesor1.crear_horario(curso1, 'Lunes', '8:00', '10:00')
horario2 = profesor1.crear_horario(curso1, 'Martes', '8:00', '10:00')
horario3 = profesor1.crear_horario(curso1, 'Miercoles', '8:00', '10:00')
horario4 = profesor1.crear_horario(curso2, 'Jueves', '8:00', '10:00')
horario5 = profesor1.crear_horario(curso2, 'Viernes', '8:00', '10:00')
horario6 = profesor2.crear_horario(curso3, 'Lunes', '10:00', '12:00')
horario7 = profesor2.crear_horario(curso3, 'Martes', '10:00', '12:00')
horario8 = profesor2.crear_horario(curso3, 'Miercoles', '10:00', '12:00')
horario9 = profesor2.crear_horario(curso4, 'Jueves', '10:00', '12:00')
horario10 = profesor2.crear_horario(curso4, 'Viernes', '10:00', '12:00')
horario11 = profesor3.crear_horario(curso5, 'Lunes', '14:00', '16:00')
horario12 = profesor3.crear_horario(curso5, 'Martes', '14:00', '16:00')
horario13 = profesor3.crear_horario(curso5, 'Miercoles', '14:00', '16:00')
horario14 = profesor3.crear_horario(curso6, 'Jueves', '14:00', '16:00')
horario15 = profesor3.crear_horario(curso6, 'Viernes', '14:00', '16:00')
print('---------------------------------')
print(str(horario1)+'\n'+str(horario2)+'\n'+str(horario3)+'\n'+str(horario4)+'\n'+str(horario5)+'\n'+str(horario6)+'\n'+str(horario7)+'\n'+str(horario8)+'\n'+str(horario9)+'\n'+str(horario10)+'\n'+str(horario11)+'\n'+str(horario12)+'\n'+str(horario13)+'\n'+str(horario14)+'\n'+str(horario15))

Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
Horario creado con exito.
---------------------------------
Horario(Curso 1, Lunes de 8:00 a 10:00)
Horario(Curso 1, Martes de 8:00 a 10:00)
Horario(Curso 1, Miercoles de 8:00 a 10:00)
Horario(Curso 2, Jueves de 8:00 a 10:00)
Horario(Curso 2, Viernes de 8:00 a 10:00)
Horario(Curso 3, Lunes de 10:00 a 12:00)
Horario(Curso 3, Martes de 10:00 a 12:00)
Horario(Curso 3, Miercoles de 10:00 a 12:00)
Horario(Curso 4, Jueves de 10:00 a 12:00)
Horario(Curso 4, Viernes de 10:00 a 12:00)
Horario(Curso 5, Lunes de 14:00 a 16:00)
Horario(Curso 5, Martes de 14:00 a 16:00)
Horario(Curso 5, Miercoles de 14:00 a 16:00)
Horario(Curso 6, Jueves de 14:00 a 16:00)
Horario(Curso 6, Viernes de 14:00 a 16:00)

In [10]:
print(curso1.obtener_horarios())
print(curso2.obtener_horarios())
print(curso3.obtener_horarios())
print(curso4.obtener_horarios())
print(curso5.obtener_horarios())
print(curso6.obtener_horarios())

[{'curso': 'Curso 1', 'dia': 'Lunes', 'hora_inicio': '8:00', 'hora_fin': '10:00'}, {'curso': 'Curso 1', 'dia': 'Martes', 'hora_inicio': '8:00', 'hora_fin': '10:00'}, {'curso': 'Curso 1', 'dia': 'Miercoles', 'hora_inicio': '8:00', 'hora_fin': '10:00'}]
[{'curso': 'Curso 2', 'dia': 'Jueves', 'hora_inicio': '8:00', 'hora_fin': '10:00'}, {'curso': 'Curso 2', 'dia': 'Viernes', 'hora_inicio': '8:00', 'hora_fin': '10:00'}]
[{'curso': 'Curso 3', 'dia': 'Lunes', 'hora_inicio': '10:00', 'hora_fin': '12:00'}, {'curso': 'Curso 3', 'dia': 'Martes', 'hora_inicio': '10:00', 'hora_fin': '12:00'}, {'curso': 'Curso 3', 'dia': 'Miercoles', 'hora_inicio': '10:00', 'hora_fin': '12:00'}]
[{'curso': 'Curso 4', 'dia': 'Jueves', 'hora_inicio': '10:00', 'hora_fin': '12:00'}, {'curso': 'Curso 4', 'dia': 'Viernes', 'hora_inicio': '10:00', 'hora_fin': '12:00'}]
[{'curso': 'Curso 5', 'dia': 'Lunes', 'hora_inicio': '14:00', 'hora_fin': '16:00'}, {'curso': 'Curso 5', 'dia': 'Martes', 'hora_inicio': '14:00', 'hora_fin': '16:00'}, {'curso': 'Curso 5', 'dia': 'Miercoles', 'hora_inicio': '14:00', 'hora_fin': '16:00'}]
[{'curso': 'Curso 6', 'dia': 'Jueves', 'hora_inicio': '14:00', 'hora_fin': '16:00'}, {'curso': 'Curso 6', 'dia': 'Viernes', 'hora_inicio': '14:00', 'hora_fin': '16:00'}]

In [11]:
print(estudiante1.ver_profesores())
print(estudiante2.ver_profesores())
print(estudiante3.ver_profesores())
print(estudiante4.ver_profesores())
print(estudiante5.ver_profesores())

['Carlos', 'Luis', 'Ana']
['Carlos', 'Luis', 'Ana']
['Carlos', 'Luis', 'Ana']
['Carlos', 'Luis', 'Ana']
['Carlos', 'Luis', 'Ana']

In [12]:
estudiante1.retirar_curso(curso1)
estudiante1.retirar_curso(curso2)
estudiante1.calificar_profesor(profesor1, 5)
estudiante1.ver_profesores()

Estudiante Juan retirado del curso "Curso 1".
Estudiante Juan retirado del curso "Curso 2".
No estás matriculado en ningún curso del profesor Carlos para calificarlo.

['Luis', 'Ana']

In [13]:
estudiante1.calificar_profesor(profesor2, 4)
estudiante1.calificar_profesor(profesor2, 3)

Profesor Luis calificado con éxito.
Estudiante ya ha calificado al profesor Luis.

In [14]:
estudiante1.calificar_profesor(profesor3, 2)
estudiante2.calificar_profesor(profesor1, 1)
estudiante2.calificar_profesor(profesor2, 2)
estudiante2.calificar_profesor(profesor3, 3)
estudiante3.calificar_profesor(profesor1, 4)
estudiante3.calificar_profesor(profesor2, 5)
estudiante3.calificar_profesor(profesor3, 1)
estudiante4.calificar_profesor(profesor1, 2)
estudiante4.calificar_profesor(profesor2, 3)
estudiante4.calificar_profesor(profesor3, 4)
estudiante5.calificar_profesor(profesor1, 5)
estudiante5.calificar_profesor(profesor2, 1)
estudiante5.calificar_profesor(profesor3, 2)

Profesor Ana calificado con éxito.
Profesor Carlos calificado con éxito.
Profesor Luis calificado con éxito.
Profesor Ana calificado con éxito.
Profesor Carlos calificado con éxito.
Profesor Luis calificado con éxito.
Profesor Ana calificado con éxito.
Profesor Carlos calificado con éxito.
Profesor Luis calificado con éxito.
Profesor Ana calificado con éxito.
Profesor Carlos calificado con éxito.
Profesor Luis calificado con éxito.
Profesor Ana calificado con éxito.

In [15]:
print(estudiante1.ver_profesores())
print(estudiante1.obtener_cursos())

['Luis', 'Ana']
['Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']

In [16]:
estudiante1.matricular_curso(curso1)
estudiante1.matricular_curso(curso2)
print('---------------------------------')
print(estudiante1.ver_profesores())
print(estudiante1.obtener_cursos())

Estudiante Juan matriculado al curso "Curso 1" con exito.
Estudiante Juan matriculado al curso "Curso 2" con exito.
---------------------------------
['Luis', 'Ana', 'Carlos']
['Curso 3', 'Curso 4', 'Curso 5', 'Curso 6', 'Curso 1', 'Curso 2']

In [17]:
profesor1.eliminar_curso(curso1)
profesor1.eliminar_curso(curso2)
print('---------------------------------')
print(estudiante1.ver_profesores())
print(estudiante1.obtener_cursos())

Estudiante Maria retirado del curso "Curso 1".
Estudiante Ana retirado del curso "Curso 1".
Estudiante Juan retirado del curso "Curso 1".
Curso "Curso 1" eliminado con éxito.
Estudiante Maria retirado del curso "Curso 2".
Estudiante Ana retirado del curso "Curso 2".
Estudiante Juan retirado del curso "Curso 2".
Curso "Curso 2" eliminado con éxito.
---------------------------------
['Luis', 'Ana']
['Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']

In [18]:
profesor1.obtener_cursos()

[]

In [19]:
print(profesor1.obtener_puntuacion())
print(profesor2.obtener_puntuacion())
print(profesor3.obtener_puntuacion())

3.0
3.0
2.4

In [20]:
estudiante1.obtener_cursos()

['Curso 3', 'Curso 4', 'Curso 5', 'Curso 6']

In [21]:
profesor2.modificar_curso(curso3, 'Curso 3 Moficicado', 'Descripcion 3 Modificado')

Curso modificado con éxito.

In [22]:
estudiante1.obtener_cursos()

['Curso 3 Moficicado', 'Curso 4', 'Curso 5', 'Curso 6']

In [23]:
curso3.obtener_horarios()

[{'curso': 'Curso 3 Moficicado',
  'dia': 'Lunes',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'},
 {'curso': 'Curso 3 Moficicado',
  'dia': 'Martes',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'},
 {'curso': 'Curso 3 Moficicado',
  'dia': 'Miercoles',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'}]

In [24]:
profesor2.modificar_horario(curso3, horario6, 'Lunes', '8:00', '10:00')

Horario modificado con exito.

In [25]:
curso3.obtener_horarios()

[{'curso': 'Curso 3 Moficicado',
  'dia': 'Lunes',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'},
 {'curso': 'Curso 3 Moficicado',
  'dia': 'Martes',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'},
 {'curso': 'Curso 3 Moficicado',
  'dia': 'Miercoles',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'}]

In [26]:
profesor2.eliminar_horario(curso3, horario6)

Horario eliminado con exito.

In [27]:
curso3.obtener_horarios()

[{'curso': 'Curso 3 Moficicado',
  'dia': 'Martes',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'},
 {'curso': 'Curso 3 Moficicado',
  'dia': 'Miercoles',
  'hora_inicio': '10:00',
  'hora_fin': '12:00'}]