In [1]:
from profesor import Profesor
from estudiante import Estudiante

# Estudiante(nombre, apellido, correo, contraseña, ciclo, carrera, universidad, codigo)
# Profesor(nombre, apellido, correo, contraseña, profesion, centro_laboral)
# Curso(nombre, descripcion, Profesor)
# Horario(Curso, dia, hora_inicio, hora_fin)
# Calificacion(Estudiante, Profesor, puntuacion)

In [2]:
estudiante1 = Estudiante('Juan', 'Perez', 'a@a', '123', '1', 'Ing. de Sistemas', 'ULIMA', '001')
estudiante2 = Estudiante('Maria', 'Gomez', 'c@c', '789', '2', 'Ing. de Sistemas', 'ULIMA', '002')
estudiante3 = Estudiante('Pedro', 'Torres', 'b@b', '456', '3', 'Ing. de Sistemas', 'ULIMA', '003')
estudiante4 = Estudiante('Ana', 'Lopez', 'd@d', '101', '4', 'Ing. de Sistemas', 'ULIMA', '004')
estudiante5 = Estudiante('Luis', 'Garcia', 'e@e', '202', '5', 'Ing. de Sistemas', 'ULIMA', '005')

print(str(estudiante1)+'\n'+str(estudiante2)+'\n'+str(estudiante3)+'\n'+str(estudiante4)+'\n'+str(estudiante5))
print('---------------------------------')
print(str(estudiante1.obtener_datos())+'\n'+str(estudiante2.obtener_datos())+'\n'+str(estudiante3.obtener_datos())+'\n'+str(estudiante4.obtener_datos())+'\n'+str(estudiante5.obtener_datos()))
print('---------------------------------')

Estudiante(Juan, Perez, a@a, 123, 1, Ing. de Sistemas, ULIMA, 001)
Estudiante(Maria, Gomez, c@c, 789, 2, Ing. de Sistemas, ULIMA, 002)
Estudiante(Pedro, Torres, b@b, 456, 3, Ing. de Sistemas, ULIMA, 003)
Estudiante(Ana, Lopez, d@d, 101, 4, Ing. de Sistemas, ULIMA, 004)
Estudiante(Luis, Garcia, e@e, 202, 5, Ing. de Sistemas, ULIMA, 005)
---------------------------------
{'nombre': 'Juan', 'apellidos': 'Perez', 'correo': 'a@a', 'ciclo': '1', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '001', 'cursos': []}
{'nombre': 'Maria', 'apellidos': 'Gomez', 'correo': 'c@c', 'ciclo': '2', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '002', 'cursos': []}
{'nombre': 'Pedro', 'apellidos': 'Torres', 'correo': 'b@b', 'ciclo': '3', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '003', 'cursos': []}
{'nombre': 'Ana', 'apellidos': 'Lopez', 'correo': 'd@d', 'ciclo': '4', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '004', 'cursos': []}
{'nombre': 'Luis', 'apellidos': 'Garcia', 'correo': 'e@e', 'ciclo': '5', 'carrera': 'Ing. de Sistemas', 'universidad': 'ULIMA', 'codigo': '005', 'cursos': []}
---------------------------------

In [3]:
profesor1 = Profesor('Carlos', 'Gomez', 'f@f', '123', 'Ing. de Sistemas', 'ULIMA')
profesor2 = Profesor('Luis', 'Torres', 'g@g', '456', 'Ing. de Sistemas', 'ULIMA')
profesor3 = Profesor('Ana', 'Lopez', 'h@h', '789', 'Ing. de Sistemas', 'ULIMA')
print(str(profesor1)+'\n'+str(profesor2)+'\n'+str(profesor3))
print('---------------------------------')
print(str(profesor1.obtener_datos())+'\n'+str(profesor2.obtener_datos())+'\n'+str(profesor3.obtener_datos()))
print('---------------------------------')

Profesor(Carlos, Gomez, f@f, 123, Ing. de Sistemas, ULIMA)
Profesor(Luis, Torres, g@g, 456, Ing. de Sistemas, ULIMA)
Profesor(Ana, Lopez, h@h, 789, Ing. de Sistemas, ULIMA)
---------------------------------
{'nombre': 'Carlos', 'apellidos': 'Gomez', 'correo': 'f@f', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}
{'nombre': 'Luis', 'apellidos': 'Torres', 'correo': 'g@g', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}
{'nombre': 'Ana', 'apellidos': 'Lopez', 'correo': 'h@h', 'profesion': 'Ing. de Sistemas', 'centro_laboral': 'ULIMA', 'cursos': [], 'puntuacion': 0}
---------------------------------

In [4]:
curso1 = profesor1.crear_curso('Curso 1', 'Descripcion 1')
curso2 = profesor1.crear_curso('Curso 2', 'Descripcion 2')
curso3 = profesor2.crear_curso('Curso 3', 'Descripcion 3')
curso4 = profesor2.crear_curso('Curso 4', 'Descripcion 4')
curso5 = profesor3.crear_curso('Curso 5', 'Descripcion 5')
curso6 = profesor3.crear_curso('Curso 6', 'Descripcion 6')
print('---------------------------------')
print(str(curso1)+'\n'+str(curso2)+'\n'+str(curso3)+'\n'+str(curso4)+'\n'+str(curso5)+'\n'+str(curso6))
print('---------------------------------')
print(str(curso1.obtener_datos())+'\n'+str(curso2.obtener_datos())+'\n'+str(curso3.obtener_datos())+'\n'+str(curso4.obtener_datos())+'\n'+str(curso5.obtener_datos())+'\n'+str(curso6.obtener_datos()))
print('---------------------------------')

Curso Curso 1 creado con exito.
Curso Curso 2 creado con exito.
Curso Curso 3 creado con exito.
Curso Curso 4 creado con exito.
Curso Curso 5 creado con exito.
Curso Curso 6 creado con exito.
---------------------------------
Curso(Curso 1, Descripcion 1, Profesor(Carlos, Gomez, f@f, 123, Ing. de Sistemas, ULIMA), [], [])
Curso(Curso 2, Descripcion 2, Profesor(Carlos, Gomez, f@f, 123, Ing. de Sistemas, ULIMA), [], [])
Curso(Curso 3, Descripcion 3, Profesor(Luis, Torres, g@g, 456, Ing. de Sistemas, ULIMA), [], [])
Curso(Curso 4, Descripcion 4, Profesor(Luis, Torres, g@g, 456, Ing. de Sistemas, ULIMA), [], [])
Curso(Curso 5, Descripcion 5, Profesor(Ana, Lopez, h@h, 789, Ing. de Sistemas, ULIMA), [], [])
Curso(Curso 6, Descripcion 6, Profesor(Ana, Lopez, h@h, 789, Ing. de Sistemas, ULIMA), [], [])
---------------------------------
{'nombre': 'Curso 1', 'descripcion': 'Descripcion 1', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 2', 'descripcion': 'Descripcion 2', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 3', 'descripcion': 'Descripcion 3', 'profesor': 'Luis Torres', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 4', 'descripcion': 'Descripcion 4', 'profesor': 'Luis Torres', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 5', 'descripcion': 'Descripcion 5', 'profesor': 'Ana Lopez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 6', 'descripcion': 'Descripcion 6', 'profesor': 'Ana Lopez', 'estudiantes': [], 'horarios': []}
---------------------------------

In [5]:
print(curso1.obtener_datos())
print(curso2.obtener_datos())
print(curso3.obtener_datos())

{'nombre': 'Curso 1', 'descripcion': 'Descripcion 1', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 2', 'descripcion': 'Descripcion 2', 'profesor': 'Carlos Gomez', 'estudiantes': [], 'horarios': []}
{'nombre': 'Curso 3', 'descripcion': 'Descripcion 3', 'profesor': 'Luis Torres', 'estudiantes': [], 'horarios': []}

In [6]:
estudiante1.retirar_curso(curso1)
estudiante1.matricular_curso(curso1)
estudiante1.matricular_curso(curso1)
estudiante1.retirar_curso(curso1)
estudiante1.matricular_curso(curso1)
estudiante2.matricular_curso(curso1)
estudiante1.matricular_curso(curso2)
estudiante1.matricular_curso(curso3)

Estudiante Juan no esta matriculado en el curso "Curso 1".
Estudiante Juan matriculado al curso "Curso 1" con exito.
Estudiante Juan ya esta matriculado en el curso "Curso 1".
Estudiante Juan retirado del curso "Curso 1".
Estudiante Juan matriculado al curso "Curso 1" con exito.
Estudiante Maria matriculado al curso "Curso 1" con exito.
Estudiante Juan matriculado al curso "Curso 2" con exito.
Estudiante Juan matriculado al curso "Curso 3" con exito.

In [7]:
print(curso1.obtener_datos())
print(curso2.obtener_datos())
print(curso3.obtener_datos())

{'nombre': 'Curso 1', 'descripcion': 'Descripcion 1', 'profesor': 'Carlos Gomez', 'estudiantes': ['Juan', 'Maria'], 'horarios': []}
{'nombre': 'Curso 2', 'descripcion': 'Descripcion 2', 'profesor': 'Carlos Gomez', 'estudiantes': ['Juan'], 'horarios': []}
{'nombre': 'Curso 3', 'descripcion': 'Descripcion 3', 'profesor': 'Luis Torres', 'estudiantes': ['Juan'], 'horarios': []}

In [8]:
print(curso1.obtener_estudiantes())
print(curso2.obtener_estudiantes())
print(curso3.obtener_estudiantes())

['Juan', 'Maria']
['Juan']
['Juan']

In [9]:
print(curso1.obtener_profesor())
print(curso2.obtener_profesor())
print(curso3.obtener_profesor())

Carlos Gomez
Carlos Gomez
Luis Torres

In [10]:
print(estudiante1.obtener_cursos())
print(estudiante2.obtener_cursos())

['Curso 1', 'Curso 2', 'Curso 3']
['Curso 1']

In [11]:
print(estudiante1.ver_profesores())
print(estudiante2.ver_profesores())

['Carlos', 'Luis']
['Carlos']

In [12]:
print(profesor1.obtener_cursos())
print(profesor2.obtener_cursos())

['Curso 1', 'Curso 2']
['Curso 3', 'Curso 4']

In [13]:
print(profesor1.ver_estudiantes())
print(profesor2.ver_estudiantes())

['Juan del curso: Curso 1', 'Maria del curso: Curso 1', 'Juan del curso: Curso 2']
['Juan del curso: Curso 3']

In [14]:
profesor1.crear_horario(curso1, 'Lunes', '8:00', '10:00')
profesor1.crear_horario(curso1, 'Martes', '8:00', '10:00')
profesor1.crear_horario(curso1, 'Miercoles', '8:00', '10:00')

Horario creado con exito.
Horario creado con exito.
Horario creado con exito.

Horario(Curso 1, Miercoles, 8:00, 10:00)

In [15]:
profesor1._cursos[0].obtener_horarios()

[{'curso': 'Curso 1',
  'dia': 'Lunes',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'},
 {'curso': 'Curso 1',
  'dia': 'Martes',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'},
 {'curso': 'Curso 1',
  'dia': 'Miercoles',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'}]

In [16]:
curso1.obtener_horarios()

[{'curso': 'Curso 1',
  'dia': 'Lunes',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'},
 {'curso': 'Curso 1',
  'dia': 'Martes',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'},
 {'curso': 'Curso 1',
  'dia': 'Miercoles',
  'hora_inicio': '8:00',
  'hora_fin': '10:00'}]

In [17]:
print(estudiante1.ver_profesores())

['Carlos', 'Luis']

In [18]:
print(estudiante1.calificar_profesor(profesor1, 5))
print(estudiante1.ver_profesores())
print(profesor1.obtener_puntuacion())
print(profesor2.obtener_puntuacion())

Profesor Carlos calificado con éxito.
None
['Carlos', 'Luis']
5.0
0

In [19]:
print(estudiante1.calificar_profesor(profesor1, 10))

Estudiante ya ha calificado al profesor Carlos.
None

In [20]:
print(profesor1.obtener_puntuacion())

5.0

In [21]:
estudiante1.calificar_profesor(profesor1, 5)

Estudiante ya ha calificado al profesor Carlos.

In [22]:
a = profesor1.modificar_curso(curso1, 'Curso 1 Modificado', 'Descripcion 1 Modificada')
print(a)

Curso "Curso 1 Modificado" modificado con éxito.
None

In [23]:
curso1.obtener_datos()

{'nombre': 'Curso 1 Modificado',
 'descripcion': 'Descripcion 1 Modificada',
 'profesor': 'Carlos Gomez',
 'estudiantes': ['Juan', 'Maria'],
 'horarios': [{'curso': 'Curso 1 Modificado',
   'dia': 'Lunes',
   'hora_inicio': '8:00',
   'hora_fin': '10:00'},
  {'curso': 'Curso 1 Modificado',
   'dia': 'Martes',
   'hora_inicio': '8:00',
   'hora_fin': '10:00'},
  {'curso': 'Curso 1 Modificado',
   'dia': 'Miercoles',
   'hora_inicio': '8:00',
   'hora_fin': '10:00'}]}